venv/
__pycache__/
output/
secrets.yaml
output_bspline/
**/output_surfaceinter
output_brep/
logs.txt
logs/*
scripts/abc_filtered/
sample_clouds
sample_clouds_stats/
.claude
output_p2cad
*.png
output_bfs/
output_oversized/
output_uvalpha/
client_secrets.json
credentials.json
sample_clouds_abc_parts